.d-light-inline {
  display: inline !important;
}
.d-dark-inline {
  display: none !important;
}
html.dark .d-light-inline {
  display: none !important;
}
html.dark .d-dark-inline {
  display: inline !important;
}
